# Data Science Tools and Ecosystem

## Author Michael Grappe

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- list popular languages for Data Science
- list commonly used libraries for Data Science
- Create a table Data Science tools
- evaluate arithmetic in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools |
| --- |
| Python |
| R |
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [9]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335